body {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Marck Script', cursive;
	font-style: normal;
	flex-direction: column;
}

.bg-video {
	position: absolute;
	max-width: 100vw;
	width: 100%;
	z-index: -1;
}

.cont {
	width: 70vw;
	height: 70vh;
	background: #dc2828;
	border-radius: 0 0 20px 20px;
	display: flex;
	align-items: start;
	justify-content: center;
	position: relative;
}

.img3 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.cont__floor {
	position: relative;
	width: 100%;
	height: 60%;
	background: #dc2828;
	border-radius: 0px 0px 200% 200%;
	box-shadow: 0 5px 15px 0px #000;
	z-index: 1;
	transition: all 0.2s;
}

.cont__floor img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cont__seal {
	cursor: pointer;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateX(-50%);
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-color: rgb(255, 255, 0);
	z-index: 2;
	transition: all 0.2s;
}

.cont__seal div {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: yellow;
	box-shadow: inset 0 0px 5px 0.1px #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	text-align: center;
}

.author {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 12px;
}

.cont__seal--active {
	animation: fall 3s ease 0.2s forwards;
}

@keyframes fall {
	0% {
		transform: translateY(auto);
	}
	100% {
		top: 115%;
		transform: rotateX(60deg);
	}
}

.cont__floor-open {
	animation: open 2s ease 3s forwards;
	transition: opacity 0.5s ease 1s;
}

@keyframes open {
	0% {
	}
	100% {
		transform-origin: center top;
		position: absolute;
		top: 15%;
		transform: rotateX(-150deg);
		box-shadow: 0 -0px 0px 0px #000;
	}
}

/* .content {
	position: absolute;
	height: 0;
	width: 100%;
	max-width: 1000px;
	padding: 30px 40px 30px 40px;
	background: repeating-linear-gradient(to bottom, #ffffff 0px, #ffffff 28px, #cfd8dc 29px);0
	border: 1px solid #e0e0e0;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
	line-height: 29px;
	box-sizing: border-box;

	opacity: 0;
	visibility: hidden;
} */

.content {
	position: absolute;
	max-height: 0%;
	width: 100%;
	max-width: 95%;
	background-image: repeating-linear-gradient(to bottom, #ffffff 0px, #ffffff 28px, #cfd8dc 29px);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
	transition: max-height 4s ease 5s;
	overflow: hidden;
	z-index: 3;
}

.content--vis {
	animation: vis 4s ease 5s forwards;
	z-index: 3;
}

@keyframes vis {
	0% {
		max-height: 0px;
	}
	100% {
		max-height: 1000px;
		padding: 60px 30px 60px 30px;
	}
}

.content img {
	position: absolute;
}

.content__inner-head {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 40px;
}

.content__title {
	font-size: 42px;
	text-align: center;
}

.content__descr {
	font-size: 28px;
}

.content__text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
}

.content__text h4 {
	font-size: 32px;
	margin-bottom: 15px;
}

.content__text ul {
	font-size: 22px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.elka {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.elka2 {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

@media (max-width: 1440px) {
	body {
		overflow: visible;
	}

	.cont {
		width: 80vw;
		height: 80vh;
		background: #dc2828;
		border-radius: 0 0 20px 20px;
		display: flex;
		align-items: start;
		justify-content: center;
		position: relative;
	}
}

@media (max-width: 968px) {
	.content__inner-head {
		gap: 15px;
		margin-bottom: 10px;
	}

	.content__title {
		font-size: 32px;
	}

	.content__descr {
		font-size: 22px;
	}

	.content__text {
		gap: 30px;
	}

	.content__text h4 {
		font-size: 24px;
		margin-bottom: 15px;
	}

	.content__text ul {
		font-size: 16px;
	}

	.elka {
		display: none;
	}

	.elka2 {
		display: none;
	}
}

@media (max-width: 576px) {
	.cont__seal {
		padding: 10px;
		width: 70px;
		height: 70px;
		top: 50%;
	}

	.cont__seal div {
		font-size: 10px;
	}

	.author {
		font-size: 6px;
	}

	.content__text {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 30px;
	}
}
